
@media(max-width:1500px){
    .prev-arrow {
        left: 18.5%;
    }
    .next-arrow {
        right: 26%;
    }
}
@media(max-width:1370px){
    .prev-arrow {
        left: 21.2%;
    }
    .next-arrow {
        right: 28.7%;
    }
}
@media(max-width:1280px){
    .prev-arrow {
        left: 19.5%;
    }
    .next-arrow {
        right: 27%;
    }
}

@media(max-width:1024px){
    .news-left_block{
        height: 763px;
    }
    .prev-arrow {
        left: 17%;
    }
    .next-arrow {
        right: 25%;
    }
}
@media(max-width:991px){
    .news-left_block{
        height: 500px;
    }
    .news-left_block .mCSB_scrollTools {
        right: 0;
    }
    .news-left_block .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        width: 3px;
    }
    .news-top_block, .news-paper_section{
        padding-bottom: 30px;
    }
}

@media(max-width:767px){
    .header-top{
        padding-top: 20px;
    }
    .news-thumb_list{
        display: flex;
        gap: 10px;
    }
    .news-thumb_item{
        overflow: inherit;
        width: 100px;
        display: inline-block;
    }
    .news-left_block .mCSB_horizontal.mCSB_inside>.mCSB_container{
        margin-bottom: 12px;
        margin-right: 0;
    }
    .news-left_block .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{
        width:100%
    }
    .news-left_block{
        height: 100%;
    }
    .header-logo_block .logo-radio, .header-logo_block .logo-hn{
        max-width: 80%;
    }
    .menu-icon{
        margin-right: 5px;
        max-width: 14px;
    }
    .us-nav .nav-link {
        padding: 5px 6px !important;
    }
    .us-nav .nav-link, .date-page_title{
        font-size: 11px;
        line-height: 17px;
    }
    .icon-list{
        justify-content: center;
        padding-top: 8px;
    }
    .date-page_block{
        justify-content: center;
    }
    .news-middle_block{
        padding: 30px 0px;
    }
    
    .news-bottom_ad{
        padding: 0;
    }
    .footer{
        padding: 15px;
    }
    .news-thumb_list {
        padding: 15px 5px 0 5px;
    }
    .page-block{
        justify-content: flex-end;
    }
    .thumb-img_block a {
        width: 100%;
        /* height: auto; */
    }
    .prev-arrow, .next-arrow{
        display: block !important;
    }
    .prev-arrow {
        left: 0;
    }
    .next-arrow {
        right: 0;
    }

}